<pre style="font-family:courier new,courier;color: blue;"><span style="color: #ff0000;">Функция</span> Произведение<span style="color: #ff0000;">(</span>А<span style="color: #ff0000;">,</span> Б<span style="color: #ff0000;">)</span>
    Результат <span style="color: #ff0000;">=</span> А <span style="color: #ff0000;">*</span> Б<span style="color: #ff0000;">;</span>
    <span style="color: #ff0000;">Возврат</span> Результат<span style="color: #ff0000;">;</span>
<span style="color: #ff0000;">КонецФункции</span></pre>